body {
    text-align: center;
    font-size: 16px;
    background-color: turquoise;
    margin: 0 auto;
    border: 10px;

}
#h1 {
    text-decoration-style: italic;
    font-size: 0px; 
}

#intro {
    text-align: bold;
}
#game {
    text-align: bold;
    
}
#end { 
    text-align: bold;
}

.start {
    padding: 20px 15px;
    background-color: rgb(241, 145, 0);
    font-size: 22px;
}

.hidden {
    display: none;
}