body {
    text-align: center;
    font-size: 20px;
    background-image: -moz-linear-gradient();
    background-color: turquoise; 
    margin: 0 auto;
    border: 10px;

}
#h1 {
    text-decoration-style: italic;
    font-size: 0px; 
}

#intro {
    text-align: bold;
}   
#trivia {
    text-align: bold;
    
}
#end { 
    text-align: bold;
}

.start {
    padding: 20px 15px;
    background-color: rgb(235, 144, 8);
    font-size: 22px;
}

.hidden {
    display: none;
}